__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
dist/
build/
*.egg-info/
.eggs/
*.db
*.sqlite
*.sqlite3
static/
node_modules/
.coverage
coverage_html/
.env
.idea/
*.swp
*.swo
.DS_Store
.cloudflare