services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=app
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network
  app:
    build: .
    ports:
      - "{{ port }}:{{ port }}"
    restart: unless-stopped
    networks:
      - app_network
    environment:
      - DATABASE_URL={% if database == 'postgres' %}postgresql+asyncpg://postgres:postgres@db:5432/app{% else %}sqlite+aiosqlite:///{{ package_name }}.db{% endif %}
      {%- if include_rate_limiting %}
      - RATE_LIMIT_STORAGE_URL=redis://redis:6379/0
      {%- endif %}
      - SITE_URL=${SITE_URL}
    depends_on:
      - db
{%- if include_docker %}
  cloudflare:
    image: cloudflare/cloudflared:latest
    volumes:
      - ./.cloudflare:/home/nonroot/.cloudflared
    restart: unless-stopped
    networks:
      - app_network
    command: tunnel run app_tunnel
{%- endif %}

networks:
  app_network:
volumes:
  db_data: